.game-row {
  padding-bottom: 80px;
  
  li {
    filter: drop-shadow(2px 12px 4px rgba(0,0,0,.6));

    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center;
    }

    p {
      margin-bottom: 24px;
    }
  }
}
.ellipsed-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}